{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Latinoware Logistic Manager</title>

    <!-- Bootstrap core CSS -->
	{% bootstrap_css %}

  </head>

  <body>
  {% if messages %}
      <div id="alertas">
      {% for message in messages %}
          {% if message.tags == "error" %}
              <div class="alert alert-danger" role="alert">
          {% else %}
              <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">
          {% endif %}
      <a class="close" data-dismiss="alert">×</a>
      {% if message.tags == "error" %}
          <i class="fa fa-times-circle-o"></i>
      {% endif %}
      {% if message.tags == "info" %}
          <i class="fa fa-comment"></i>
      {% endif %}
      {% if message.tags == "success" %}
          <i class="fa fa-check-circle"></i>
      {% endif %}
      {% if message.tags == "warning" %}
          <i class="fa fa-warning"></i>
      {% endif %}

      {{ message|safe }}
      </div>
      {% endfor %}
  </div>
  {% endif %}
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Latinoware Logistics Manager</h3>
      </div>
	  {% block body %}
      <div class="jumbotron">
        <h1>Welcome!</h1>
        <p class="lead">This system was made to help gathering the necessary informations for Latinoware.</p>
      </div>
	  {% endblock %}


      <footer class="footer">
        <p>Latinoware 2015</p>
      </footer>

    </div> <!-- /container -->
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    {% bootstrap_javascript %}
	{% block javascript %}
	
	{% endblock %}
  </body>
</html>
