{% extends "base.html" %}
{% load bootstrap3 %}

{% block body %}

    <h1>Speakers with no Name</h1>

    <ul>
    {%  for speaker in speakers_no_name %}
        <li>{{ speaker }}</li>
    {%  empty %}
        0 Spekers
    {%  endfor %}
    </ul>


    <h1>Flight Options not Rejected and not Seen</h1>

    <ul>
    {%  for flight in flightoptions_not_rejected_not_seen %}
        <li>{{ flight }}</li>
        {%  empty %}
            0 Flight Options
    {%  endfor %}
    </ul>


{% endblock %}